<br />
<div>
    <div class="wrapper">
        <input type="text" class="form-control" id="filter" placeholder="Filter" ng-model="filter" />
    </div>
    <br />
</div>
<table class="table table-striped" align="center">
    <thead>
    <tr class="table_heading">
        <th>Id</th>
        <th>Repository</th>
        <th>VirtualSize</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="image in images | filter:repositoryName | filter:filter | filter:dateFilter | filter:convertToBytes | orderBy:predicate">
        <td><a href="#/image/{{ image.Id}}">{{ image.Id | trimId }}</a></td>
        <td>{{ image.RepoTags | repositoryName}}</td>
        <td>{{ image.VirtualSize | convertToBytes}}</td>
        <td>{{ image.Created | dateFilter }}</td>
    </tr>
    </tbody>
    <div class="wrapper">
        <a ui-sref="all_Images">
            <a href='#' class='button'>Images</a>
        </a>
    </div>
    <br>
</table>