<br/>
<table class="table table-striped" align="center">
    <thead>
    <tr class="table_heading">
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Command</th>
        <th>Status</th>
        <th>Created</th>
    </tr>
    <tbody>
    <tr ng-repeat="container in containers | filter:dateFilter | filter:containerName | filter:trimId | orderBy:date">

        <td><a href="containers/{{ container.Id }}">{{ container.Id | trimId }}</a></td>
        <td>{{ container.Names | containerName }}</td>
        <td>{{ container.Image}}</td>
        <td>{{ container.Command  }}</td>
        <td>{{ container.Status }}</td>
        <td>{{ container.Created | dateFilter }}</td>

    </tr>

</table>
