<!-- HEADER -->
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Docked</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="#/containers">Containers</a></li>
        <li><a href="#/create">Create Container</a></li>
        <li><a href="#/images">Images</a></li>
        <li><a href="#/stack">Stacks</a></li>
        <li><a href="#/info">Info</a></li>
        <li><a href="#/">Logout</a></li>
    </ul>
</nav>
<div>
    <a type="button" href="#/containers/" class="btn btn-primary pull-right" >All Containers</a>
</div>
<br/>
<br/>
<br/>
<table class="table table-striped" align="center">
    <thead>
    <tr class="table_heading">
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Command</th>
        <th>Status</th>
        <th>Created</th>
        <th>View</th>
    </tr>
    <tbody>
    <tr ng-repeat="container in runningContainers">
        <td>{{ container.Id | trimId }}</td>
        <td>{{ container.Names | containerName }}</td>
        <td>{{ container.Image}}</td>
        <td>{{ container.Command  }}</td>
        <td>{{ container.Status }}</td>
        <td>{{ container.Created | dateFilter }}</td>
        <td><a type="button" href="#/containers/{{ container.Id }}" class="btn btn-success" >View</a></td>
    </tr>
</table>