<!-- HEADER -->
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Docked</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/containers">Containers</a></li>
        <li><a href="/create">Create Container</a></li>
        <li><a href="/images">Images</a></li>
        <li><a href="/stack">Stacks</a></li>
        <li><a href="/info">Info</a></li>
    </ul>
</nav>
<ol class="breadcrumb">
    <table class="table table-striped" align="center">
        <h3>MEAN STACK</h3>
        <thead>
        <tr class="table_heading">
            <th>Name</th>
            <th>Id</th>
            <th>VirtualSize</th>
            <th>Created</th>
        </tr>
        </thead>
        <tr>
            <td>Mongo DB</td>
            <td><a href="images/{{ mongo.Id}}">{{ mongo.Id | filter:trimId }}</a></td>
            <td>{{ mongo.VirtualSize | convertToBytes }}</td>
            <td>{{ mongo.Created | dateCreated  }}</td>
        </tr>
        <tr>
            <td>Node JS</td>
            <td><a href="images/{{ node.Id}}">{{ node.Id | filter:trimId}}</a></td>
            <td>{{ node.VirtualSize | convertToBytes}}</td>
            <td>{{ node.Created | dateCreated  }}</td>
        </tr>
    </table>
</ol>
<br>
<ol class="breadcrumb">
    <table class="table table-striped" align="center">
        <h3>JAVA STACK</h3>
        <thead>
        <tr class="table_heading">
            <th>Name</th>
            <th>Id</th>
            <th>VirtualSize</th>
            <th>Created</th>
        </tr>
        </thead>
        <tr>
            <td>Java</td>
            <td><a href="images/{{ java.Id}}">{{ java.Id | filter:trimId }}</a></td>
            <td>{{ java.VirtualSize | convertToBytes}}</td>
            <td>{{ java.Created | dateCreated  }}</td>
        </tr>
        <tr>
            <td>Tomcat Server</td>
            <td><a href="images/{{ tomcat.Id}}">{{ tomcat.Id | filter:trimId }}</a></td>
            <td>{{ tomcat.VirtualSize | convertToBytes}}</td>
            <td>{{ tomcat.Created | dateCreated }}</td>
        </tr>
        <tr>
            <td>MySql DB</td>
            <td><a href="images/{{ mySql.Id}}">{{ mySql.Id | filter:trimId }}</a></td>
            <td>{{ mySql.VirtualSize | convertToBytes}}</td>
            <td>{{ mySql.Created | dateCreated }}</td>
        </tr>
        <tr>
            <td>Jetty Servlet</td>
            <td><a href="images/{{ jetty.Id}}">{{ jetty.Id | filter:trimId }}</a></td>
            <td>{{ jetty.VirtualSize | convertToBytes}}</td>
            <td>{{ jetty.Created | dateCreated }}</td>
        </tr>
    </table>
</ol>