<!-- HEADER -->
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Docked</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="#/containers">Containers</a></li>
        <li><a href="#/create">Create Container</a></li>
        <li><a href="#/images">Images</a></li>
        <li><a href="#/stack">Stacks</a></li>
        <li><a href="#/info">Info</a></li>
        <li><a href="#/">Logout</a></li>
    </ul>
</nav>

<body>

<div class="container">
    <h1>&ensp;<strong>Network</strong></h1>
    <div class="col-lg-3 col-md-3 col-sm-3 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Network Metrics</h3></div>
            <div class="panel-body">
                <canvas id="updating-chart" width="250" height="300"></canvas>
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Receiving Metrics</h3></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td>RX Bytes</td>
                        <td>{{ message.network.rx_bytes }}</td>
                    </tr>
                    <tr>
                        <td>RX Packets</td>
                        <td>{{ message.network.rx_packets }}</td>
                    </tr>
                    <tr>
                        <td>RX Errors</td>
                        <td>{{ message.network.rx_errors }}</td>
                    </tr>
                    <tr>
                        <td>RX Dropped</td>
                        <td>{{ message.network.rx_dropped }}</td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Transmitting Metrics</h3></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td>TX Bytes</td>
                        <td>{{ message.network.tx_bytes }}</td>
                    </tr>
                    <tr>
                        <td>TX Packets</td>
                        <td>{{ message.network.tx_packets }}</td>
                    </tr>
                    <tr>
                        <td>TX Errors</td>
                        <td>{{ message.network.tx_errors }}</td>
                    </tr>
                    <tr>
                        <td>TX Dropped</td>
                        <td>{{ message.network.tx_dropped }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

</div>
</body>


