<!-- HEADER -->
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Docked</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="#/containers">Containers</a></li>
        <li><a href="#/create">Create Container</a></li>
        <li><a href="#/images">Images</a></li>
        <li><a href="#/info">Info</a></li>
        <li class="moveLogout"><a href="#/">Logout</a></li>
    </ul>
</nav>
<body>

<!-- Network -->

<div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Network</h3></div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Network Metrics (KB)</h3></div>
        <div class="panel-body">
            <canvas id="updating-network" width="250" height="300"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Receiving ({{ message.network.rx_bytes | convertToBytes }})</h3></div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td>RX Bytes</td>
                    <td>{{ message.network.rx_bytes | convertToBytes }}</td>
                </tr>
                <tr>
                    <td>RX Packets</td>
                    <td>{{ message.network.rx_packets | convertToBytes }}</td>
                </tr>
                <tr>
                    <td>RX Errors</td>
                    <td>{{ message.network.rx_errors  }}</td>
                </tr>
                <tr>
                    <td>RX Dropped</td>
                    <td>{{ message.network.rx_dropped }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Transmitting ({{ message.network.tx_bytes | convertToBytes }})</h3></div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td>TX Bytes</td>
                    <td>{{ message.network.tx_bytes | convertToBytes }}</td>
                </tr>
                <tr>
                    <td>TX Packets</td>
                    <td>{{ message.network.tx_packets | convertToBytes }}</td>
                </tr>
                <tr>
                    <td>TX Errors</td>
                    <td>{{ message.network.tx_errors  }}</td>
                </tr>
                <tr>
                    <td>TX Dropped</td>
                    <td>{{ message.network.tx_dropped }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

<!-- CPU -->

<div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <div class="panel ">
        <div class="panel-heading borderPanel"><h3>CPU</h3></div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel ">
        <div class="panel-heading borderPanel"><h3>Container Usage ({{ message.precpu_stats.cpu_usage.total_usage/1000000000 | number : 1}}%)</h3></div>
        <div class="panel-body myBorder">
            <canvas id="updating-cpu" width="250" height="300"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel ">
        <div class="panel-heading borderPanel"><h3>System Usage ({{message.precpu_stats.system_cpu_usage / 1000000000000| number : 1}} GHz)</h3></div>
        <div class="panel-body myBorder">
            <canvas id="updating-system-cpu" width="250" height="300"></canvas>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center ">
    <div class="panel  ">
        <div class="panel-heading borderPanel "><h3>CPU Metrics</h3></div>
        <div class="panel-body myBorder">
            <table class="table table-striped">
                <tr>
                    <td>Kernel mode Usage</td>
                    <td>{{ message.precpu_stats.cpu_usage.usage_in_kernelmode | convertToBytes  }}</td>
                </tr>
                <tr>
                    <td>User mode Usage</td>
                    <td>{{ message.precpu_stats.cpu_usage.usage_in_usermode | convertToBytes }}</td>
                </tr>
                <tr>
                    <td>Throttling Periods</td>
                    <td>{{ message.precpu_stats.throttling_data.periods  }}</td>
                </tr>
                <tr>
                    <td>Throttled Periods</td>
                    <td>{{ message.precpu_stats.throttling_data.throttled_periods  }}</td>
                </tr>
                <tr>
                    <td>Throttled Time</td>
                    <td>{{ message.precpu_stats.throttling_data.throttled_time  }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Memory -->

<div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <div class="panel">
        <div class="panel-heading borderPanelMemory"><h3>Memory</h3></div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel">
        <div class="panel-heading borderPanelMemory"><h3>Memory Usage ({{ message.memory_stats.usage | convertToBytes  }})</h3></div>
        <div class="panel-body myBorderMemory">
            <canvas id="updating-memory-usage" width="250" height="300"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel">
        <div class="panel-heading borderPanelMemory"><h3>Max Usage ({{ message.memory_stats.max_usage | convertToBytes  }})</h3></div>
        <div class="panel-body myBorderMemory">
            <canvas id="updating-max-memory-usage" width="250" height="300"></canvas>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center">
    <div class="panel ">
        <div class="panel-heading borderPanelMemory"><h3>Memory Metrics</h3></div>
        <div class="panel-body myBorderMemory">
            <table class="table table-striped">
                <tr>
                    <td>Memory Usage</td>
                    <td>{{ message.memory_stats.usage | convertToBytes  }}</td>
                </tr>
                <tr>
                    <td>Max Memory Usage</td>
                    <td>{{ message.memory_stats.max_usage | convertToBytes  }}</td>
                </tr>
                <tr>
                    <td>Limit</td>
                    <td>{{ message.memory_stats.limit | convertToBytes  }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>


