body { padding-top:30px; }

.custom {
    width: 100px !important;
}
.p {
    text-align: center;
    font-size: 14px;
    padding-top: 140px;
}
.panelRight {
    float: right;
    width: 30%;

}

.borderPanel {
    background: #449d44;
    color: #ffffff;

}

.myBorder {
    border: 1px solid #449d44;
}

.borderPanelMemory {
    background: #ce6131;
    color: #ffffff;

}

.myBorderMemory {
    border: 1px solid #ce6131;
}
.moveLogout {
    margin-left:53em
}
body { margin-top:30px; }
