<br/>
<table class="table table-striped " align="center">
    <tbody>
    <tr>
        <td>Id:</td>
        <td>{{image.Id }}</td>
    </tr>
    <tr>
        <td>Parent:</td>
        <td>{{image.Parent }}</td>
    </tr>
    <tr>
        <td>Created:</td>
        <td>{{image.Created | dateCreated }}</td>
    </tr>
    <tr>
        <td>Docker Version:</td>
        <td>{{image.DockerVersion }}</td>
    </tr>
    <tr>
        <td>Architecture:</td>
        <td>{{image.Architecture }}</td>
    </tr>
    <tr>
        <td>Operating System:</td>
        <td>{{image.Os }}</td>
    </tr>
    <tr>
        <td>Virtual Size:</td>
        <td>{{image.VirtualSize | convertToBytes}}</td>
    </tr>
    <tr>
        <td>Container Config Env:</td>
        <td>
            <p ng-repeat="val in image.ContainerConfig.Env">
                {{ val }}
            </p>
        </td>
    </tr>
</table>
<h3 align="center">Image History</h3>
<table class="table" align="center" ng-controller="imageHistoryCtrl">
    <tbody >
    <tr class="table_heading">
        <th>ID</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Tags</th>
        <th>Size</th>
    </tr>
    <tr ng-repeat="ima in images | filter:containerName | filter:filter | filter:dateFilter | orderBy:predicate">
        <td>{{ ima.Id | trimId }}</td>
        <td>{{ ima.Created | dateFilter}}</td>
        <td>{{ ima.CreatedBy}}</td>
        <td>{{ ima.Tags | containerName}}</td>
        <td>{{ ima.Size | convertToBytes}}</td>
    </tr>
    </tbody >
</table>
