<br/>
<table class="table" align="center">
    <tbody>
    <tr>
        <td><strong>Version:</strong></td>
        <td>{{home.Version }}</td>
    </tr>
    <tr>
        <td><strong>Api Version:</strong></td>
        <td>{{home.ApiVersion }}</td>
    </tr>
    <tr>
        <td><strong>Git Commit:</strong></td>
        <td>{{home.GitCommit }}</td>
    </tr>
    <tr>
        <td><strong>Go Version:</strong></td>
        <td>{{home.GoVersion }}</td>
    </tr>
    <tr>
        <td><strong>Operating System:</strong></td>
        <td>{{home.Os }}</td>
    </tr>
    <tr>
        <td><strong>Architecture:</strong></td>
        <td>{{home.Arch }}</td>
    </tr>
    <tr>
        <td><strong>Kernel Version:</strong></td>
        <td>{{home.KernelVersion }}</td>
    </tr>
    <tr>
        <td><strong>Build Time:</strong></td>
        <td>{{home.BuildTime }}</td>
    </tr>
</table>