<br/>
<div>
    <div class="wrapper">
        <input type="text" class="form-control" id="filter" placeholder="Filter" ng-model="filter" />
    </div>
</div>
<br/>
<table class="table table-striped" align="center">
    <thead>
    <tr class="table_heading">
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Command</th>
        <th>Status</th>
        <th>Created</th>
        <th>Delete Container</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="container in containers | filter:containerName | filter:filter | filter:dateFilter | orderBy:predicate">


        <td><a href="#/container/{{container.Id}}">{{ container.Id | trimId }}</a></td>
        <td>{{ container.Names | containerName}}</td>
        <td>{{ container.Image}}</td>
        <td>{{ container.Command | splitCommand }}</td>
        <td>{{ container.Status }}</td>
        <td>{{ container.Created | dateFilter }}</td>
        <td><button class="button btn-btn submit" type="submit">Delete</button> </td>
    </tr>
    </tbody>
    <div class="wrapper">
        <a ui-sref="containers">
            <button class="button">Running Containers Only</button>
        </a>
    </div>
    <br>
</table>
